services:
  web:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: dashboard_web
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - dashboard
      - proxy-net

  queue:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: dashboard_queue
    depends_on:
      - db
    env_file:
      - .env
    command: php artisan queue:work --queue=default,logs --sleep=3 --tries=3 --timeout=90
    restart: always
    networks:
      - dashboard

  schedule:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: dashboard_schedule
    depends_on:
      - db
    env_file:
      - .env
    command: php artisan schedule:work
    restart: always
    networks:
      - dashboard

  db:
    image: mysql:8.0
    container_name: dashboard_db
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    networks:
      - dashboard

networks:
  dashboard:
  proxy-net:
    external: true

volumes:
  db_data: